__pycache__/
*.py[cod]
.Python
venv/
.venv/

.env

.ipynb_checkpoints/
.DS_Store


models/*
!models/.gitkeep

data/*

!data/raw/
!data/interim/
!data/output/

data/raw/*
data/interim/*

!data/raw/.gitkeep
!data/interim/.gitkeep

logs
